.containerMyProjects {
	background: #fff;
	border: 1px solid rgb(0,0,0,0.15);
	border-radius: 1rem;
	padding: 1rem;

	header {
		display: flex;
		align-items: center;	
		justify-content: space-between;
		width: 100%;
		margin-bottom: 1rem;

		h1 {
			font-size: 1.1rem;
			font-weight: 600;
		}
	}
}

.listProjects {
	display: flex;
	gap: 0rem;
	justify-content: center;
	padding: 1rem 0;
}

.card {
	width: 260px;
	height: 250px;
	padding: 1rem;
	background: #fff;
	border-radius: 1rem;
	border: 1px solid rgb(0,0,0,0.3);
	position: relative;
	transition: 0.4s;

	img {
		width: 100%;
		height: 8rem;
		object-fit: cover;
		border-radius: 1rem;
	}

	.infosCard {
		height: 4rem;

		span {
			font-weight: 700;
			font-size: 1.1rem;
		}

		p {
			font-weight: 400;
			font-size: 0.8rem;
		}
	}

	.buttonsCard {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.3rem;
		justify-content: center;
		position: absolute;
		bottom: 0.6rem;
		left: 1rem;
		right: 1rem;

		button {
			background: var(--soft-blue);
			color: #fff;
			border: 0;
			outline: 0;
			border-radius: 0.5rem;
			font-weight: 600;
			padding: 0.3rem 0;
		}
	}

	&:hover {
		box-shadow: var(--soft-blue) 0px 5px 15px;
	}
}