.sideBox{
    width: 250px;
    height: 350px;
    background-color: var(--white);
    position: absolute;
    border-radius: 15px;
    left: 4rem;

    img{
        width: 55px;
        height: 55px;
        object-fit: cover;
        cursor: pointer;
        margin: 1rem 0rem 0 6rem;
    }

    .userName{
        margin-top: 0.5rem;
        text-align: center;
    }

    .role{
        color: rgba(0, 0, 0, 0.6);
        opacity: 0.7;
        font-size: 14px;
        text-align: center;
        padding-top: 0.9rem;
    }

    hr{
        opacity: 0.4;
        margin: 1rem auto;
    }

    .routesBox{
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 45%;

        svg{
            margin-right: 0.2rem;
        }

        p{
            padding-top: 0.2rem;
            color: var(--black);
            opacity: 0.8;
        }

       span{
            display: flex;
            flex-direction: row;
            cursor: pointer;
        }

        .logoutBox{
            position: relative;
            top: 4.5rem;
            left: 10.5rem;
        }
    }
}


// .feedContainer{
//     display: flex;
//     background-color: red;
//     margin-top: 5rem;
// }

.publicationContainer{
    background-color: var(--white);
    max-width: 600px;
    height: 120px;
    border-radius: 15px;
    margin: 5rem auto;

    .contentBox{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 1rem 0 0 1rem;
    }

    img{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        object-fit: cover;
        cursor: pointer;
    }

    input{
        width: 30rem;
        height: 40px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        padding-left: 1rem;
        cursor: pointer;
        transition: all 0.5s;
        margin-top: 0.4rem;
    }

    input:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }

    span{
        display: flex;
        gap: 2rem;
        margin-top: 0.5rem;
        margin-left: 5rem;

        svg{
            cursor: pointer;
        }
    }
}

.feed{
    background-color: var(--white);
    width: 600px;
    height: 100vh;
    border-radius: 15px;
    margin: 0 auto;
}