.container{
   margin: 5rem auto;
   width: 90%;
   height: 100%;
   background-color: var(--white);
   padding: 1rem;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;

   header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--whitesmoke);
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   }

   h1{
      font-size: 2.5rem;
      margin-left: 0.5rem;
      padding: 0.5rem 0.5rem;
      border-top-right-radius: 30px;
      color: var(--blue-500);
      z-index: 3;
   }

   img{
      object-fit: cover;
      margin: 0.5rem;
      border-radius: 25%;
   }


   hr{
      border: 1px solid var(--whitesmoke);
      margin-bottom: 0.5rem;
   }

   h3{
      color: var(--blue-500);
      font-size: 1.5rem;
   }
}

@media (max-width: 870px){
   .container{
      width: 90%;
      height: 100%;
      

      header{
         flex-direction: column-reverse;
         align-items: center;
      }

      h1{
         font-size: 29px;
      }

   }
}

@media (max-width: 580px){
   .container{

      h1{
         font-size: 22px;
      }
   }
}



@media(min-width: 1700px){
   .container{
      margin: 5rem auto;
   }
}