.containerComment {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	header {
		width: 100%;
		padding: 1rem;
		height: 100%;
		align-items: flex-start;

		img {
			width: 60px;
			height: 60px;
			margin-bottom: 0.5rem;
		}
	
		.infoUser {
			span {
				display: flex;
	
				p {
					margin-left: 5px;
				}
			}

			.comment {
				font-size: 1rem;
				margin-top: 1rem;
			}
		}
	}

}