.container {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.6);
   z-index: 99;

   .header {
      height: 4rem;
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      position: relative;
   
      h1 {
         font-weight: 600;
         font-size: 1.2rem;
      }
   
      button {
         background: var(--blue-500);
         border: 0;
         outline: 0;
         width: 30px;
         height: 30px;
         border-radius: 100%;
         color: #fff;
         display: flex;
         align-items: center;
         justify-content: center;
   
         &:hover {
            background: rgba(0, 0, 0, 0.1);
         }
      }
   }

   form{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1rem;

      textarea{
         padding: 0.7rem 1rem;
         border-radius: 1rem;
         border: 1px solid rgba(0, 0, 0, 0.2);
         resize: none;
         height: 9rem;
         width: 100%;
      }

      button{
         background: var(--blue-500);
			border: 0;
         color: #fff;
			font-weight: 600;
			padding: 0.4rem;
			width: 100%;
			margin-top: 1rem;
			border-radius: 1rem;
      }

      .buttonOff{
         cursor: not-allowed;
         background: rgba(0, 0, 0, 0.4);
      }
   }
}

.modalBox {
   width: 700px;
   background-color: var(--white);
   margin: 6rem auto;
   border-radius: 15px;

   @media (max-width: 800px) {
      width: 85%;
   }
}

