.profileContainer {
    width: 60vw;
    height: 100%;
    background-color: var(--white);
    margin: 6rem 0 0 6rem;
    border-radius: 15px;


    .picturesBox {
        height: 200px;

        .banner {
            width: 100%;
            height: 170px;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .profilePic {
            border-radius: 50%;
            width: 130px;
            height: 130px;
            object-fit: cover;
            cursor: pointer;
            position: relative;
            top: -6rem;
            left: 1rem;
            z-index: 99;
        }
    }


    .infoBox {
        position: relative;
        top: -1rem;

        .name {
            padding: 0rem 0 0 2rem;
            font-size: 20px;
        }

        .role {
            padding: 0.3rem 0 0 2rem;
            color: var(--soft-gray);
        }

        .place {
            padding: 0.5rem 0 0 2rem;
            opacity: 0.5;
        }

        svg {
            position: relative;
            left: 47rem;
            cursor: pointer;
            transition: all 0.5s;
        }

        svg:hover {
            background-color: var(--soft-gray);
            border-radius: 50%;
        }

        .socialMedias {
            display: flex;
            justify-content: flex-end;
            gap: 0.5rem;
            position: relative;
            right: 1rem;
            top: -4rem;
        }

        .descriptionBoxOff {
            display: none;
        }

        .descriptionBox {
            padding-left: 2rem;

            textarea {
                width: 80%;
                height: 130px;
                padding: 0.5rem 0 0 1rem;
                resize: none;
                border: none;
                height: 120px;
                overflow-y: auto;
                cursor: pointer;
            }

            textarea::-webkit-scrollbar {
                height: 20px;
                width: 5px;
                background-color: var(--whitesmoke);
            }

            textarea::-webkit-scrollbar-thumb:vertical {
                background: var(--soft-gray);
                height: 20px;
                border-radius: 20px;
                -moz-border-radius: 30px;
                -webkit-border-radius: 20px;
            }
        }
    }

}

.editBanner {
    width: 30px;
    position: relative;
    left: 47rem;
    top: -19rem;
    cursor: pointer;
}



@media (min-width: 1600px) {
    .profileContainer {
        margin: 6rem 0 0 13rem;
    }
}

@media (min-width: 1700px) {
    .profileContainer {
        margin: 6rem 0 0 16rem;
    }
}

@media (min-width: 1800px) {
    .profileContainer {
        margin: 6rem 0 0 19rem;
    }
}

@media (min-width: 1900px) {
    .profileContainer {
        margin: 6rem auto;
    }
}