.container {
	display: flex;
	padding-top: 5rem;
	width: 95%;
	margin: 0 auto;
	justify-content: space-between;
	flex-wrap: wrap;
}

.profileContainer {
    max-width: 950px;
	 width: 100%;
    height: 100%;
    border-radius: 15px;
	 display: flex;
	 flex-direction: column;
	 gap: 1rem;

		.contentProfile {
			background: var(--white);
			border: 1px solid rgb(0,0,0,0.15);
			border-radius: 15px;
		}

    .picturesBox {
        height: 200px;
		  position: relative;

        .banner {
            width: 100%;
            height: 170px;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .profilePic {
            border-radius: 50%;
            width: 140px;
            height: 140px;
            object-fit: cover;
            cursor: pointer;
            position: relative;
            top: -6rem;
            left: 1rem;
            z-index: 2;
				border: 2.5px solid #fff;
        }

		  .editBanner {
				position: absolute;
				right: 1rem;
				top: 1rem;
				width: 30px;
				cursor: pointer;
				background: 0;
				border: 0;
				outline: 0;
	  		}
    }


    .infoBox {
        position: relative;
        top: 0rem;
		  padding-top: 1.5rem;

		  .editInfoProfile {
				position: absolute;
				top: -1.5rem;
				right: 0.9rem;
				background: 0;
				border: 0;
				outline: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 100%;
				width: 40px;
				height: 40px;
				transition: 0.2s;

				&:hover {
					background-color: rgb(0,0,0,0.15);
				}
		  }	

        .name {
            padding: 0 0 0 2rem;
            font-size: 20px;
        }

        .role {
            padding: 0 0 0 2rem;
            color: var(--soft-gray);
        }

        .place {
            padding: 0 0 0 2rem;
            opacity: 0.5;
        }

        .socialMedias {
            display: flex;
            justify-content: flex-end;
            gap: 0.5rem;
            position: relative;
            right: 1rem;
            top: -2rem;
        }
    }

		.aboutMe {
			width: 100%;
			padding: 1rem;
			background: var(--white);
			border: 1px solid rgb(0,0,0,0.15);
			border-radius: 15px;
			position: relative;


			h1 {
				font-size: 1.2rem;
				font-weight: 600;
			}

			p {
				margin-top: 1rem;
				font-size: 0.9rem;
				font-weight: 400;
			}

			button {
				position: absolute;
				top: 1rem;
				right: 1rem;
				background: 0;
				border: 0;
				outline: 0;
				width: 2rem;
				height: 2rem;
				border-radius: 100%;
			}
		}

		.posts {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			background-color: var(--white);
			padding: 1rem;
			margin-bottom: 2rem;
			border: 1px solid rgb(0,0,0,0.15);
			border-radius: 15px;

			h3{
				font-size: 1.2rem;
				font-weight: 600;
			}

			p {
				font-size: 0.9rem;
				font-weight: 400;
			}
			
			.post {
				background: var(--whitesmoke);
				border-radius: 0.5rem;
				padding: 1rem;
				border: 1px solid rgb(0,0,0,0.15);
			
				header {
					height: 3rem;
					width: 100%;
					display: flex;
					align-items: center;
					gap: 1rem;
			
					img {
						width: 50px;
						height: 50px;
						border-radius: 100%;
					}
			
					div {
						display: flex;
						flex-direction: column;
			
						span {
							font-weight: 600;
							font-size: 0.95rem;
							line-height: 1rem;
						}
			
						p {
							font-weight: 400;
							font-size: 0.9rem;
						}
			
						time {
							font-weight: 400;
							font-size: 0.65rem;
						}
					}
			
				}
			
				.contentPost {
					p {
						font-size: 0.95rem;
						padding: 1rem 0 0.5rem 0;
					}
				}
			}
		}

}

@media (min-width: 1600px) {
    .profileContainer {
        margin: 6rem 0 0 13rem;
    }
}

@media (min-width: 1700px) {
    .profileContainer {
        margin: 6rem 0 0 16rem;
    }
}

@media (min-width: 1800px) {
    .profileContainer {
        margin: 6rem 0 0 19rem;
    }
}

@media (min-width: 1900px) {
    .profileContainer {
        margin: 6rem auto;
    }
}