.containerMyProjects {
   margin: 5rem auto;
   width: 90%;
	display: flex;
	gap: 1rem;

   .contentMyProjects {
		width: 948px;

		header {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
	
			h1 {
				font-size: 1.8rem;
				font-weight: 500;
			}
	
			button {
				font-size: 1rem;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0.4rem;
				padding: 0.3rem 1.7rem;
				background: var(--soft-blue);
				font-weight: 600;
				color: #fff;
				border: 0;
				outline: 0;
				border-radius: 1rem;
			}
		}

		.cardsProjects {
			display: flex;
			justify-content: center;
			gap: 1rem;
			flex-wrap: wrap;
			margin-top: 1rem;

			.card {
				width: 290px;
				height: 280px;
				padding: 1rem;
				background: #fff;
				border-radius: 1rem;
				border: 1px solid rgb(0,0,0,0.15);
				position: relative;
				transition: 0.4s;

				img {
					width: 100%;
					height: 8rem;
					object-fit: cover;
					border-radius: 1rem;
				}

				.infosCard {
					height: 5rem;
					width: 100%;

					span {
						font-weight: 700;
						font-size: 1.1rem;
					}

					p {
						font-weight: 400;
						font-size: 0.8rem;
						height: 50px;
						overflow: auto;
					}
		
					p::-webkit-scrollbar {
						height: 20px;
						width: 20px;
				  }
		
				  p::-webkit-scrollbar-thumb:vertical {
						background-color: var(--soft-purple);
						height: 20px;
						border-radius: 20px;
						-moz-border-radius: 20px;
						-webkit-border-radius: 20px;
				  }
				}

				.buttonsCard {
					display: grid;
					grid-template-columns: 1fr 1fr;
					gap: 0.3rem;
					justify-content: center;
					position: absolute;
					bottom: 0.6rem;
					left: 1rem;
					right: 1rem;

					button {
						background: var(--soft-blue);
						color: #fff;
						border: 0;
						outline: 0;
						border-radius: 0.5rem;
						font-weight: 600;
						padding: 0.3rem 0;
					}
				}

				.buttonToDeleteProject {
					background: var(--soft-blue);
					position: absolute;
					top: 0rem;
					right: 0rem;
					border-radius: 100%;
					color: #fff;
					width: 40px;
					height: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					border: 0;
					opacity: 0;
					transition: 0.3s;
				}

				&:hover {
					box-shadow: var(--soft-blue) 0px 5px 15px;

					.buttonToDeleteProject {
						opacity: 1;
						top: 1rem;
						right: 1rem;
					}
				}

				
			}
		}
	}
}