*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --white: #FFF;
    --whitesmoke: whitesmoke;
    --black: #000;
    --soft-gray: rgb(122, 122, 122);

    --soft-blue: #399BE5;
    --blue-300: rgb(65, 65, 219);

    --red-500: rgb(253, 33, 33);
}

li{
    list-style-type: none
}

button{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    background: var(--whitesmoke);
}

@media (max-width: 720px){
    html{
        font-size: 87.5%;
    }
}

@media (max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}

@media (min-width: 1400px){
    html{
        font-size: 105%;
    }
}

@media (min-width: 1900px){
    html{
        font-size: 110%;
    }
}