html {
  font-size: 15px !important;

  @media screen and (max-width: 800px) {
    font-size: 14px !important;
  }

  @media screen and (max-width: 650px) {
    font-size: 13px !important;
  }

  @media screen and (max-width: 500px) {
    font-size: 12px !important;
  }

  @media screen and (max-width: 500px) {
    font-size: 11px !important;
  }
}

.grid {
  max-width: 1400px;
  margin: 0 auto;
}

.headerHome {
  background: var(--blue-500);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 57px 20px 91px;
  border: 1px solid var(--blue-500);

  @media screen and (max-width: 1000px) {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 20px 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.97;
  }

  .logo {
    background: #f4b02c;
    padding: 7px 25px;
    border-radius: 35px;
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1000px) {
      display: none;
    }

    ul {
      list-style: none;

      li {
        display: inline-block;
        margin-right: 30px;

        a {
          font-weight: 400;
          font-size: 1.2rem;
          color: #ffffff;
          opacity: 0.8;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .yourCompany {
      background: rgba(151, 151, 151, 0.32);
      padding: 5px 30px;
      border-radius: 35px;
      border: none;
      font-weight: 400;
      font-size: 1.2rem;
      color: #ffffff;

      &:hover {
        filter: brightness(1.5);
      }

      &:active {
        opacity: 0.8;
      }
    }
  }

  .listFade {
    background-color: var(--blue-500);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    position: fixed;
    top: 70px;
    left: 0;
    text-align: center;
    opacity: 0.97;

    @media screen and (min-width: 1000px) {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: column;

      li {
        margin-top: 45px;
        margin-right: 0;

        a {
          font-size: 3rem;
        }
      }
    }

    button {
      margin-top: 45px;
      font-size: 3rem;
    }
  }
}

.containerHome {
  .sectionOne {
    background: var(--blue-500);
    padding: 50px 0 70px 0;

    @media screen and (max-width: 1400px) {
      padding-bottom: 100px;
    }

    @media screen and (max-width: 450px) {
      padding-bottom: 30px;
    }

    .infoHome {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 70vw;

      @media screen and (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 95vw;
      }

      @media screen and (max-width: 1000px) {
        padding-top: 80px;
      }

      article {
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: center;

        h2 {
          line-height: 80px;
          font-weight: 600;
          font-size: 4rem;
          color: #ffffff;

          @media screen and (max-width: 550px) {
            line-height: 65px;
          }
        }

        p {
          margin-top: 10px;
          font-weight: 300;
          font-size: 1.5rem;
          color: #ffffff;
        }

        .buttons {
          display: flex;
          gap: 30px;
          margin-top: 2rem;

          button {
            padding: 10px 35px;
            border-radius: 40px;
            font-weight: 500;
            font-size: 1.3rem;
          }

          .user {
            background: #ffffff;
            border: none;
            color: var(--blue-500);
          }

          .company {
            background: transparent;
            border: 1px solid #ffffff;
            color: #ffffff;
          }
        }

        @media screen and (max-width: 1000px) {
          width: 100%;
          align-items: center;
        }
      }

      img {
        height: 400px;
        width: 40%;
        object-fit: cover;

        @media screen and (max-width: 1000px) {
          width: 80%;
          min-width: 380px;
          object-fit: contain;
        }
      }
    }
  }

  .sectionTwo {
    background-color: #ffffff;
    padding: 50px 0;

    @media screen and (max-width: 1000px) {
      padding: 80px 0 110px 0;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      article {
        h2 {
          font-weight: 500;
          font-size: 1.9rem;
          color: #3b454d;
        }

        p {
          margin-top: 15px;
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 34px;

          @media screen and (max-width: 550px) {
            line-height: 30px;
          }
        }
      }

      img {
        width: 80%;
        object-fit: cover;
        margin-top: 50px;

        @media screen and (max-width: 1400px) {
          height: 100%;
          width: 90%;
          min-width: 380px;
          object-fit: contain;
        }

        @media screen and (max-width: 500px) {
          margin-top: 70px;
          gap: 0;
        }
      }
    }
  }

  .sectionThree {
    background-color: #e9f1ff;
    padding: 100px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 860px) {
      padding: 5rem 0;
    }

    .content {
      display: flex;
      justify-content: center;

      img {
        width: 500px;
        object-fit: cover;

        @media (max-width: 1040px) {
          width: 400px;
        }
      }

      article {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;

        h2 {
          font-weight: 500;
          font-size: 3rem;
          color: #3b454d;
          line-height: 70px;
          text-align: right;

          @media screen and (max-width: 550px) {
            line-height: 60px;
          }
        }

        p {
          margin-top: 30px;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 30px;
          color: #3b454d;
          text-align: right;

          @media screen and (max-width: 550px) {
            margin-top: 25px;
          }
        }

        .buttons {
          display: flex;
          gap: 30px;
          margin-top: 40px;

          @media screen and (max-width: 550px) {
            margin-top: 30px;
          }

          button {
            padding: 10px 35px;
            border-radius: 40px;
            font-weight: 500;
            font-size: 1.3rem;
          }

          .user {
            background: var(--blue-500);
            border: none;
            color: #ffffff;
          }

          .company {
            background: #ffffff;
            border: none;
            color: var(--blue-500);
          }
        }
      }

      @media (max-width: 1040px) {
        h2 {
          font-size: 2rem;
        }

        p {
          font-size: 1.2rem;
        }
      }

      @media screen and (max-width: 860px) {
        flex-direction: column;

        article {
          align-items: center;

          h2,
          p {
            text-align: center;
          }

          h2 {
            margin-top: 1rem;
            width: 100% !important;
            font-size: 2rem;
            line-height: 40px;
          }

          p {
            margin-top: 0.5rem;
          }
        }
      }
    }
  }

  .footer {
    background-color: #e5e5e5;
    padding: 40px 4rem 40px 4rem;

    .content {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 1100px) {
        flex-direction: column-reverse;
        align-items: center;
      }

      div {
        display: flex;
        flex-direction: column;
      }

      .column1 {
        @media screen and (max-width: 1100px) {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 2rem auto 2rem auto;
          gap: 2rem;
          font-size: 1.4rem !important;
        }

        strong {
          color: var(--blue-500);
          font-weight: 900;

          span {
            font-weight: 300;
            font-size: 1.4rem;
          }
        }

        p {
          font-weight: 300;
          font-size: 1rem;
          line-height: 28px;
        }

        span {
          margin-top: 100px;
          font-weight: 300;
          font-size: 1rem;
        }
      }

      .listFooter {
        display: flex;
        gap: 8rem;

        @media (max-width: 1300px) {
          gap: 6rem;
        }

        @media (max-width: 1100px) {
          gap: 4rem;
        }

        .itemListFooter {
          h3 {
            margin-bottom: 27px;
            font-weight: 300;
            font-size: 1.2rem;
            color: #000000;

            @media screen and (max-width: 1450px) {
              margin-bottom: 3px;
            }
          }

          a {
            margin-top: 16px;
            font-weight: 300;
            font-size: 1rem;
            color: #000000;
            opacity: 0.7;

            &:hover {
              color: var(--blue-500);
              opacity: 1;
            }
          }
        }
      }
    }

    .copyright {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
  }
}
