html {
    font-size: 15px !important;

    @media screen and (max-width: 800px) {
        font-size: 14px !important;
    }

    @media screen and (max-width: 650px) {
        font-size: 13px !important;
    }

    @media screen and (max-width: 500px) {
        font-size: 12px !important;
    }

    @media screen and (max-width: 500px) {
        font-size: 11px !important;
    }
}

.grid {
    max-width: 1400px;
    margin: 0 auto;
}

.headerHome {
    background: var(--blue-500);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 57px 20px 91px;
    border: 1px solid var(--blue-500);


    @media screen and (max-width: 1000px) {
        width: 100%;
        position: fixed;
        top: 0;
        padding: 20px 25px;
        border-bottom: 1px solid #ddd;
        opacity: 0.97;
    }

    .logo {
        background: #F4B02C;
        padding: 7px 25px;
        border-radius: 35px;
        color: #fff;
        font-weight: 500;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    nav {
        display: flex;
        align-items: center;

        @media screen and (max-width: 1000px) {
            display: none;
        }

        ul {
            list-style: none;

            li {
                display: inline-block;
                margin-right: 30px;

                a {
                    font-weight: 400;
                    font-size: 1.2rem;
                    color: #FFFFFF;
                    opacity: 0.8;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .yourCompany {
            background: rgba(151, 151, 151, 0.32);
            padding: 5px 30px;
            border-radius: 35px;
            border: none;
            font-weight: 400;
            font-size: 1.2rem;
            color: #FFFFFF;

            &:hover {
                filter: brightness(1.5);
            }

            &:active {
                opacity: 0.8;
            }
        }
    }

    .listFade {
        background-color: var(--blue-500);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-top: 80px;
        position: fixed;
        top: 70px;
        left: 0;
        text-align: center;
        opacity: 0.97;

        @media screen and (min-width:1000px) {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: column;

            li {
                margin-top: 45px;
                margin-right: 0;

                a {
                    font-size: 3rem;
                }
            }
        }

        button {
            margin-top: 45px;
            font-size: 3rem;
        }
    }
}


.containerHome {

    .sectionOne {
        background: var(--blue-500);
        padding: 50px 0 70px 0;

        @media screen and (max-width: 1400px) {
            padding-bottom: 100px;
        }

        @media screen and (max-width: 450px) {
            padding-bottom: 30px;
        }

        .infoHome {
            display: flex;
            justify-content: center;
            gap: 80px;

            @media screen and (max-width: 1400px) {
                flex-direction: column;
                align-items: center;
                gap: 100px;
            }

            @media screen and (max-width: 1000px) {
                padding-top: 80px;
            }

            @media screen and (max-width: 600px) {
                gap: 50px;
            }

            @media screen and (max-width: 500px) {
                margin-top: 70px;
                gap: 0;
            }


            article {
                margin-left: 80px;
                margin-top: 70px;

                @media screen and (max-width: 1400px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    margin-top: 50px;
                    margin-left: 0;
                }

                h2 {
                    line-height: 80px;
                    font-weight: 600;
                    font-size: 4.4rem;
                    color: #FFFFFF;

                    @media screen and (max-width: 550px) {
                        line-height: 65px;
                    }
                }

                p {
                    margin-top: 10px;
                    font-weight: 300;
                    font-size: 1.5rem;
                    color: #FFFFFF;

                    @media screen and (max-width: 1400px) {
                        margin-top: 30px;
                    }
                }

                .buttons {
                    display: flex;
                    gap: 30px;
                    margin-top: 100px;

                    @media screen and (max-width: 1400px) {
                        margin-top: 50px;
                    }

                    button {
                        padding: 10px 35px;
                        border-radius: 40px;
                        font-weight: 500;
                        font-size: 1.3rem;
                    }

                    .user {
                        background: #FFFFFF;
                        border: none;
                        color: var(--blue-500);
                    }

                    .company {
                        background: transparent;
                        border: 1px solid #FFFFFF;
                        color: #FFFFFF;
                    }
                }
            }

            img {
                height: 528px;
                width: 640px;

                @media screen and (max-width:1400px) {
                    width: 90%;
                    min-width: 380px;
                    object-fit: contain;
                }
            }
        }
    }

    .sectionTwo {
        background-color: #FFFFFF;
        padding: 100px 0;

        @media screen and (max-width:1000px) {
            padding: 80px 0 110px 0;
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            article {

                h2 {
                    font-weight: 500;
                    font-size: 1.9rem;
                    color: #3B454D;
                }

                p {
                    margin-top: 15px;
                    font-weight: 400;
                    font-size: 1.2rem;
                    line-height: 34px;

                    @media screen and (max-width: 550px) {
                        line-height: 30px;
                    }
                }
            }

            img {
                height: 675px;
                width: 1310px;
                object-fit: cover;
                margin-top: 90px;

                @media screen and (max-width:1400px) {
                    height: 100%;
                    width: 90%;
                    min-width: 380px;
                    object-fit: contain;
                }

                @media screen and (max-width: 500px) {
                    margin-top: 70px;
                    gap: 0;
                }
            }
        }


    }

    .sectionThree {
        background-color: #E9F1FF;
        padding: 100px 0;

        @media screen and (max-width:1000px) {
            padding: 80px 0 110px 0;
        }

        .content {
            display: flex;
            justify-content: center;
            gap: 90px;

            @media screen and (max-width: 1400px) {
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
            }

            @media screen and (max-width: 650px) {
                gap: 100px;
            }

            img {
                height: 496px;
                width: 687px;
                object-fit: cover;

                @media screen and (max-width:1400px) {
                    height: 100%;
                    width: 90%;
                    min-width: 380px;
                    object-fit: contain;
                }
            }

            article {
                margin-top: 70px;

                @media screen and (max-width: 1400px) {
                    display: flex;
                    flex-direction: column;
                    margin-top: 0;
                    align-items: center;
                    text-align: center;
                }


                h2 {
                    font-weight: 500;
                    font-size: 3.4rem;
                    color: #3B454D;
                    line-height: 70px;

                    @media screen and (max-width: 550px) {
                        line-height: 60px;
                    }
                }

                p {
                    margin-top: 30px;
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 30px;
                    color: #3B454D;

                    @media screen and (max-width: 550px) {
                        margin-top: 25px;
                    }
                }

                .buttons {
                    display: flex;
                    gap: 30px;
                    margin-top: 40px;

                    @media screen and (max-width: 550px) {
                        margin-top: 30px;
                    }

                    button {
                        padding: 10px 35px;
                        border-radius: 40px;
                        font-weight: 500;
                        font-size: 1.3rem;
                    }

                    .user {
                        background: var(--blue-500);
                        border: none;
                        color: #FFFFFF;
                    }

                    .company {
                        background: #FFFFFF;
                        border: none;
                        color: var(--blue-500);
                    }
                }
            }
        }


    }

    .footer {
        background-color: #E5E5E5;
        padding: 100px 0 40px 0;

        .content {
            display: flex;
            justify-content: center;
            gap: 100px;

            @media screen and (max-width: 1450px) {
                flex-direction: column-reverse;
                align-items: center;
                text-align: center;
            }

            div {
                display: flex;
                flex-direction: column;
            }

            .column1 {

                @media screen and (max-width: 1450px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                img {
                    height: 34px;
                    width: 110px;
                    margin-bottom: 10px;
                }

                p {
                    font-weight: 300;
                    font-size: 1rem;
                    line-height: 28px;
                }

                span {
                    margin-top: 210px;
                    font-weight: 300;
                    font-size: 1rem;

                    @media screen and (max-width: 1450px) {
                        margin-top: 30px;
                    }
                }
            }

            .column2 {

                margin-left: 10px;

                h3 {
                    margin-bottom: 27px;
                    font-weight: 300;
                    font-size: 1.5rem;
                    color: #000000;

                    @media screen and (max-width: 1450px) {
                        margin-bottom: 3px;
                    }
                }

                a {
                    margin-top: 16px;
                    font-weight: 300;
                    font-size: 1.2rem;
                    color: #000000;
                    opacity: 0.7;

                    &:hover {
                        color: var(--blue-500);
                        opacity: 1;
                    }
                }
            }
        }
    }
}