.containerDiscord {
	width: 100%;
   max-width: 300px;
	margin-top: 2rem;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border: 1px solid rgb(0,0,0,0.15);
		border-radius: 0.5rem;
		box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.08);
	}

	@media (max-width: 970px) {
		display: none;
	}
}