.mainContainer{
    display: flex;
    justify-content: space-between;
}

.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, #021B79, #086be4);
    min-width: 60vw;
    min-height: 100vh;
    border-top-right-radius: 10rem;
}

.contentContainer{  

    h1{
        color: var(--white);
        font-size: 2.5rem;
    }

    p{
        padding: 1rem 0 1.5rem 0;
        color: var(--white);
        font-size: 1.4rem;
    }

    a{
        color: var(--white);
        font-size: 1.1rem;
        background-color: var(--soft-blue);
        padding: 0.5rem;
        border-radius: 1.2rem;
    }
}

.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 40vw;
    min-height: 100vh;

    h2{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    button{
        margin-bottom: 1rem;
    }
}

.errorInput{
    border-radius: 15px;
    height: 40px;
    width: 19rem;
    background-color: var(--white);
    padding-left: 1rem;
    border: 1px solid var(--red-500);
}

@media (max-width: 920px){
    .mainContainer{
        flex-direction: column;
    }

    .logoContainer{
        min-width: 100vw;
        min-height: 44vh;
        border-top-right-radius: 0;
        border-bottom-right-radius: 10rem;
        padding-left: 1.5rem;
    }

    .loginContainer{
        min-width: 100vw;
        min-height: 50vh;
    }


}

@media (min-width: 1500px){
    .contentContainer{
        padding: 0;

        h1{
            font-size: 4rem;
        }

        p{
            font-size: 1.9rem;
        }

        a{
            font-size: 1.6rem;
        }
    }

    .loginContainer{
        h2{
            font-size: 3.5rem;
        }
    }
}

@media (min-width: 1900px){

    .contentContainer{
        padding: 0;

        h1{
            font-size: 5rem;
        }

        p{
            font-size: 2.4rem;
        }

        a{
            font-size: 2rem;
        }
    }

    .loginContainer{
        h2{
            font-size: 3.8rem;
        }
    }
}