.container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.containerModal {
    max-width: 550px;
    height: 370px;
    background-color: var(--white);
    margin: 5rem auto;
    border-radius: 15px;

    .buttonBox {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        .closeButton {
            position: relative;
            top: 1rem;
            right: 1rem;
            border: none;
            background: none;
        }
    }

    p {
        position: relative;
        top: -1rem;
        left: 1.5rem;
        color: var(--black);
        font-size: 20px;
        width: 35%;
    }

    hr {
        opacity: 0.4;
    }

    img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: cover;
        cursor: pointer;
        margin: 1rem 0 0 1rem;
    }

    .userName {
        position: relative;
        top: -3rem;
        left: 3.8rem;
        width: 80%;
        font-size: 15px;
        opacity: 0.8;
    }

    .textArea {
        margin: 0 0 0 2rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
        width: 90%;
        height: 23vh;
        border: 0;
        resize: none;
        font-size: 15px;
    }

    textarea::-webkit-scrollbar {
        width: 10px;
        background-color: var(--whitesmoke);
    }

    textarea::-webkit-scrollbar-thumb:vertical {
        background: var(--soft-gray);
        border-radius: 10px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 20px;
    }

    .publicationBox {
        display: flex;
        justify-content: flex-end;

        .offButton {
            position: relative;
            cursor: not-allowed;
            right: 1rem;
            top: 1rem;
            border: 0;
            border-radius: 15px;
            padding: 0.5rem;
            background-color: var(--soft-blue);
            color: var(--white);
            opacity: 0.6;
        }

        .onButton {
            position: relative;
            cursor: pointer;
            right: 1rem;
            top: 1rem;
            border: 0;
            border-radius: 15px;
            padding: 0.5rem;
            background-color: var(--soft-blue);
            color: var(--white);
        }
    }

}