.container {
   display: flex;
   justify-content: space-between;
   cursor: pointer;

   svg {
      margin: 2.7rem 1rem 0 0;
   }
}

.containerOn {
   display: flex;
   justify-content: space-between;
   cursor: pointer;
   background-color: #F5F5F5;

   svg {
      margin: 2.7rem 1rem 0 0;
   }

}

.box {
   display: flex;
   flex-direction: row;
   transition: all 0.6s;

   img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
   }


   .contributorInfo {
      display: flex;
      flex-direction: column;

      p {
         padding: 1rem 0 0 0;
         font-size: 1.2rem;
      }
   }
}


.container:hover {
   background-color: #F5F5F5;
}

.contributorInfoBox {
   background-color: #F5F5F5;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   gap: 2rem;

   .contributorRole {
      margin: -3rem 0 0 7rem;
   }


   .contactBox {
      position: relative;
      left: 7rem;
      top: -1.2rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 15%;

      p {
         font-size: 1rem;
      }
   }
}


@media (max-width: 870px) {
   .box {

      p {
         text-overflow: ellipsis;
         overflow: hidden;
         white-space: wrap;
         width: 95%;
      }
   }


   .contactBox {
      top: -0.3rem;
   }
}

@media (max-width: 570px) {
   .contactBox {
      top: 0.1rem;
   }
}