.box {
   display: flex;
   flex-direction: row;

   img {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      object-fit: cover;
   }


   .contributorInfo {
      display: flex;
      flex-direction: column;
      margin: 0 0 0 0.5rem;

      p {
         font-size: 14px;
      }
   }
}

.contactBox {
   position: relative;
   left: 5rem;
   top: -1.2rem;
   display: flex;
   align-items: center;
   gap: 0.5rem;
   width: 15%;

   p {
      font-size: 13px;
   }
}

@media (max-width: 870px) {
   .box {

      p {
         text-overflow: ellipsis;
         overflow: hidden;
         white-space: wrap;
         width: 95%;
      }
   }


   .contactBox {
      top: -0.3rem;
   }
}

@media (max-width: 570px){
   .contactBox{
      top: 0.1rem;
   }
}
