.header {
    display: flex;
    min-width: 100vw;
    position: fixed;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--white);
    padding: 0.3rem;
    top: 0;

    .logo {
        padding-left: 2rem;
    }

    .searchIcon {
        position: relative;
        top: 1.3rem;
        left: 3.5rem;
    }

    input {
        min-width: 20vw;
        height: 35px;
        background-color: #EEF3F8;
        margin: 0.8rem 0 0 2rem;
        border: none;
        padding-left: 2rem;
    }

    .menuHamb {
        display: none;
        cursor: pointer;
    }

    .navegation {
        margin-left: 5rem;
        padding-top: 1.8rem;

        ul {
            display: flex;
            flex-direction: row;
        }

        li {
            color: var(--soft-gray);
            font-size: 12px;
        }

        .homeIcon {
            position: relative;
            top: -0.7rem;
            left: 1.5rem;
            color: var(--soft-gray);

        }

        .usersIcon {
            position: relative;
            top: -0.7rem;
            left: 2.5rem;
            color: var(--soft-gray);
        }

        .chatIcon {
            position: relative;
            top: -0.7rem;
            left: 2.6rem;
            color: var(--soft-gray);
        }
    }

    .pictureBox{
        background-size: cover;
        position: absolute;
        right: 2rem;
        top: 0.8rem;

        img {
            border-radius: 50%;
            width: 35px;
            height: 35px;
            object-fit: cover;
            cursor: pointer;
        }
    }
}

.menuOn{  
    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        right: 0rem;
        top: 4.5rem;
        background-color: var(--white);
        max-height: 22vh;
        max-width: 32vw;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
    }

    li {
        color: var(--soft-gray);
        font-size: 12px;
        align-self: center;
        padding-top: 1rem;
    }


    .homeIcon {
        position: relative;
        top: -1rem;
        left: 1.5rem;
        color: var(--soft-gray);

    }

    .usersIcon {
        position: relative;
        top: -1rem;
        left: 2.5rem;
        color: var(--soft-gray);
    }

    .chatIcon {
        position: relative;
        top: -1rem;
        left: 2.6rem;
        color: var(--soft-gray);
    }
}


@media (max-width: 920px) {
    .navegation {
        display: none;
    }

    .header {
        .menuHamb{
            display: flex;
            position: absolute;
            right: 1rem;
            top: 0.6rem;
        }

        .pictureBox{
            right: 4rem;
        }
    }
}

@media (max-width: 570px){
    .header{
        .logo{
            display: none;
        }

        input{
            margin-left: 0rem;
        }

        .searchIcon{
            left: 1.7rem;
        }
    }
}