.container{
    background-color: var(--white);
    width: 900px;
    max-height: 100%;
    margin: 5rem 0 3rem 2rem;
    border-radius: 15px;


    .header{
        display: flex;
        justify-content: space-between;

        h1{
            color: var(--soft-blue);
            padding: 0.5rem 0 0 1rem;
        }

        svg{
            margin: 0.7rem 1rem 0 0;
        }
    
    }
 
    hr{
        opacity: 0.4;
    }
}

.box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    span{
        display: flex;
        transition: 0.3s;
        cursor: pointer;
        height: 70px;

        img{
            object-fit: cover;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin: 0.5rem;
        }

        .userInformation{
            display: flex;
            flex-direction: column;

            p{
                padding: 0rem 0 0 0.2rem;
            }

            .role{
                font-size: 14px;
                color: var(--soft-gray);
            }

            .location{
                font-size: 12px;
                color: var(--soft-gray);
            }
        }

    }

    span:hover{
        background-color: var(--whitesmoke);
    }

}