.container{
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 260px;
    height: 50px;
    transition: 0.3s;

    img{
        border-radius: 50%;
        object-fit: cover;
        width: 33px;
        height: 33px;
        margin: 0.5rem 0 0 0.5rem;
    }

    .text{
        font-weight: 300;
        font-size: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 20px;
        margin: 1rem 0 0 0.5rem;
    }

    span{
        position: absolute;
        right: 0.5rem;
        top: 0.8rem;
        cursor: pointer;
    }
}

.chatOn{
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 400px;
    width: 260px;
    transition: 0.3s;

    img{
        border-radius: 50%;
        object-fit: cover;
        width: 33px;
        height: 33px;
        cursor: pointer;
        margin: 0.5rem 0 0 0.5rem;
    }

    .text{
        padding: 1rem 0 0 0.5rem;
        font-weight: 300;
        font-size: 15px;
    }

    span{
        position: absolute;
        right: 0.5rem;
        top: 0.8rem;
        cursor: pointer;
    }
}