.containerModal {
	position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.6);
   z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;

	.contentModal {
		max-width: 500px;
		width: 100%;
		background: #fff;
		position: relative;
		border-radius: 1rem;

		header {
			height: 4rem;
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			align-items: center;
			display: flex;
			justify-content: space-between;
			padding: 0 1rem;
			position: relative;

			h2 {
				font-weight: 600;
				font-size: 1.2rem;
			}

			button {
				background: 0;
				border: 0;
				outline: 0;
				width: 40px;
				height: 40px;
				border-radius: 100%;

				&:hover {
					background:rgba(0, 0, 0, 0.1);
				}
			}
		}

		form {
			padding: 1rem;

			.inputFile {
				width: 100%;
				margin: 0 auto 1rem auto; 
				height: 10rem;
				border: 1px solid rgba(0, 0, 0, 0.2);
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 2rem;

				input {
					width: 100%;
					height: 8rem;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					cursor: pointer;
					opacity: 0;
				}

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 2rem;
				}

				svg {
					z-index: 100;
				}
			}

			label {
				display: flex;
				flex-direction: column;
				font-weight: 400;
				font-size: 0.9rem;
				margin-bottom: 0.25rem;

				input {
					padding: 0.2rem 0.5rem; 
					border-radius: 0.25rem;
					border: 1px solid rgba(0, 0, 0, 0.2);
				}

				textarea {
					padding: 0.2rem 0.5rem; 
					border-radius: 0.25rem;
					border: 1px solid rgba(0, 0, 0, 0.2);
					resize: none;
					height: 4rem;
				}
			}

			button {
				background: var(--soft-blue);
				border: 0;
				color: #fff;
				font-weight: 600;
				padding: 0.4rem;
				width: 100%;
				margin-top: 1rem;
				border-radius: 0.25rem;
			}
		}
	}
}